.timesheet {
  display: flex;
  min-height: 100%;

  &-short {
    background-color: #fff;
    border-right: solid 1px #c7c4c4;
    padding: 20px;
    height: 100%;

    &__fullname,
    &__department {
      font-size: 15px;
      margin-top: 8px;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__fullname {
      font-weight: bold;
      margin-top: 20px;
    }

    &-info {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;

      &__item {
        width: 40%;

        p {
          font-size: 12px;
        }

        p:first-child {
          border-top: 2px solid #52c41a;
          padding-top: 5px;
          font-weight: bold;
          margin-bottom: 4px;

          span {
            font-size: 20px;
            margin-right: 6px;
          }
        }
      }

      &--onbussiness {
        p:first-child {
          border-color: #1890ff;
        }
      }

      &--violate {
        p:first-child {
          border-color: #f5222d;
        }
      }

      &__add {
        background: #1890ff;
        color: #fff;
        width: 100%;
        border-radius: 0;
      }

      &__add:hover {
        color: #fff !important;
      }

      &__config {
        background: #fff;
        color: #1890ff;
        width: 100%;
        border-color: #1890ff;
        border-radius: 0;
      }
    }
  }

  &-listday {
    color: #fff;
    display: flex;
    margin-bottom: 10px;
    max-width: 100%;
    overflow-x: scroll;

    &-item {
      text-align: center;
      padding: 5px 10px;
      margin-right: 6px;
    }
  }

  &-workday {
    display: flex;
    align-items: center;

    p {
      margin-right: 8px;
    }

    span {
      font-weight: bold;
      font-size: 25px;
      padding-left: 8px;
      border-left: solid 1px #d9d9d9;
    }
  }

  &-statistic {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 28px;
    border-right: solid 1px #d9d9d9;

    &:last-child {
      border-right: none;
      margin-right: 0;
    }

    p {
      margin-right: 8px;
    }

    span {
      font-weight: bold;
      margin-right: 10px;
    }

    &::before {
      background-color: orange;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      content: '';
      position: absolute;
      top: 50%;
      left: -12px;
      transform: translate(-50%, -50%);
    }

    &__violate::before {
      background-color: #f5222d;
      content: '';
    }

    &__waiting::before {
      background-color: #1890ff;
      content: '';
    }
  }

  &-detail {
    background: #fff;
    padding: 10px 20px 0;
  }

  &-filter {
    &__title {
      font-weight: bold;
    }
    &__export {
      background: #ffbc25;
      margin: 0;
      ~ .ant-btn-default:hover {
        color: #ffbc25 !important;
      }
    }
    &-time {
      align-items: center;
      border-bottom: 1px solid grey;
      padding-bottom: 12px;
      &__button {
        display: flex;
        padding: 10px;
        button {
          margin-right: 8px;
        }
        .selected {
          background: #1890ff;
          color: #fff;

          :hover {
            color: #fff !important;
          }
        }
      }
    }
  }

  &-form {
    .ant-segmented-item {
      &-selected {
        border: solid 1px #1890ff;
        color: #1890ff;
        background: #e6f7ff;
      }
    }
  }

  &-calendar {
    thead tr {
      text-align: center;
    }

    tbody tr {
      text-align: left;
    }
  }

  &-violate {
    text-align: center;
    &__lable {
      background: #f5222d;
      color: #fff;
      padding: 0 5px;
      margin: 0 5px 6px 0;
      min-width: 115px;
      &--early {
        background: orange;
      }
      &--forget {
        background: #1890ff;
      }
    }
    &__checkbox span {
      width: 22px;
      height: 22px;
    }
  }

  &-table {
    margin-top: 20px;
    position: relative;
    &__checkbox {
      margin-bottom: 10px;
      &--nodata {
        margin-top: 10px;
      }
    }
  }

  .ant-table-row.weekend {
    background: #f5f4f4;
    .ant-table-column-sort {
      background: transparent;
    }
  }

  .ant-table-row.holiday {
    background: #ffa60033;
    .ant-table-column-sort {
      background: transparent;
    }
    &:hover td {
      background: #ffa6001a !important;
    }
  }

  &__sync-button button {
    background-color: #52c41a;
  }

  &__sync-button:hover button {
    background-color: #52c41a !important;
    opacity: 0.9;
  }

  .ant-table-cell {
    vertical-align: middle;
  }
}

.timesheet .ant-picker-calendar-header {
  display: none;
}

.timesheet-chart-container {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
}

.apexcharts-zoom-icon {
  display: none;
}

@media (min-width: 992px) {
  .timesheet-table {
    &__checkbox {
      position: absolute;
      bottom: 23px;
      left: 0;
      margin-bottom: 0;
    }
    &__checkbox--nodata {
      bottom: -30px;
      margin-top: 0;
    }
  }
}
