.login-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: 15px;

  .login-logo-container {
    img {
      width: 100%;
      max-width: 200px;
    }
  }

  .login-title-container {
    .title-one {
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
    }

    .title-two {
      font-size: 14px;
      line-height: 16px;
    }
  }

  .login-form-container {
    width: 100%;

    .login-button {
      height: 40px;
      color: white;
      background-color: #1890ff;
    }

    .login-input-custom {
      border: 1px solid #d9d9d9;
      height: 40px;
      border-radius: 2px;
      padding: 5px 12px;
    }
  }
}
