.show-column {
  display: flex;
  position: relative;

  .column-option {
    background-color: whitesmoke;
    padding: 10px;
    position: absolute;
    z-index: 10;
    right: 0;
    width: 100%;
    min-width: 180px;
    margin: 40px 0 0;
    border: 1px solid white;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    .ant-checkbox-wrapper.ant-checkbox-group-item {
      margin: 5px 0;
    }
  }
}

.user-table {
  &__img {
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%;
    object-fit: cover;
  }

  td.ant-table-cell {
    padding: 7px 14px !important;
  }
}
