.dashboard {
  background-color: #fff;
  padding: 20px;
  margin: 20px;

  &__title {
    font-size: 24px;
    font-weight: bold;
  }

  &-filter {
    align-items: center;
    margin: 10px 10px 20px;
    border-bottom: 1px solid #ebe6e6;
    padding-bottom: 20px;
  }

  &-info {
    &-item {
      padding: 15px;
      border-radius: 5px;
      border: solid 1px #f5f5f5;
      box-shadow: 0px 4px 4px 0px #00000040;
    }
  }

  &-statistic {
    margin-top: 25px;

    &-rank {
      padding: 15px;
      border-radius: 5px;
      border: solid 1px #f5f5f5;
      box-shadow: 0px 4px 4px 0px #00000040;

      &__title {
        font-weight: bold;
      }

      .rank-table {
        margin-top: 15px;

        &-header {
          background-color: rgb(180, 180, 180);
          display: flex;
          padding: 10px 0;
          font-weight: bold;

          &__no,
          &__amount {
            text-align: center;
            width: 80px;
          }

          &__name {
            text-align: center;
            width: calc(100% - 160px);
          }
        }

        &-body {
          background-color: #fafafa;
          padding: 10px 0 1px;

          &-item {
            display: flex;
            margin-bottom: 15px;
            align-items: center;

            &__no,
            &__amount {
              text-align: center;
              width: 80px;
            }

            &__name {
              display: flex;
              width: calc(100% - 160px);
            }
          }

          &--scroll {
            height: 361px;
            overflow-y: scroll;
          }
        }
      }
    }

    &-chart {
      padding: 15px 15px 0;
      border-radius: 5px;
      border: solid 1px #f5f5f5;
      box-shadow: 0px 4px 4px 0px #00000040;

      &__title {
        font-weight: bold;
      }
    }
  }
}
