// Variable overrides
$color-red: #d82121;
$color-white: #fff;

$font-size: 14px;
$font-family: monospace;

$main-color: #2b58bd;

$background-color: #ffffff;
$background-blue-color: #2b58bd;

$text-color: #000000;

$height-element: 36px;
$min-width-button: 120px;
$min-width-button-large: 150px;
$border-color: #d9d9d9;
$color-icon: #4b5563;
$draw-map-color: #ff0000;

$navbar-width: 200px;
$navbar-width-collapsed: 80px;

:export {
  colorRed: $color-red;
  colorWhite: $color-white;
  fontSize: $font-size;
  mainColor: $main-color;
  backgroundColor: $background-color;
  backgroundBlueColor: $background-blue-color;
  textColor: $text-color;
  heightElement: $height-element;
  minWidthButton: $min-width-button;
  minWidthButtonLarge: $min-width-button-large;
  borderColor: $border-color;
  colorIcon: $color-icon;
  drawMapColor: $draw-map-color;
}
