.statistical-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .statistical-container {
    width: 80%;
    min-height: 90%;
    background-color: white;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 6px;
    padding: 30px;
    box-sizing: border-box;
  }
}

.box-container {
  position: relative;
  width: 100%;
  height: 260px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 6px;
}

.border-top-gradient {
  position: absolute;
  height: 4px;
  top: 0;
  width: 100%;
}

.border-top-gradient-one {
  background: linear-gradient(to right, #c259e9, #d08ee7);
}

.border-top-gradient-two {
  background: linear-gradient(to right, #ef6f62, #f4a66a);
}

.border-top-gradient-three {
  background: linear-gradient(to right, #ecbf38, rgb(238, 229, 172));
}

.border-top-gradient-four {
  background: linear-gradient(to right, #30a2ff, #a5e0f1);
}
