.user-list {
  .ant-table-body {
    overflow: auto !important;
  }
}
.ant-modal-content {
  padding: 0 !important;
  .ant-modal-header {
    padding: 16px 24px;
    margin: 0;
  }
  .ant-modal-body {
    @apply tw-border-y tw-border-solid tw-border-[#eee];
    padding: 16px 24px;
  }
  .ant-modal-footer {
    padding: 16px 24px;
    margin: 0;
  }
}

/* width */
::-webkit-scrollbar {
  height: 5px; /* height of horizontal scrollbar ← You're missing this */
  width: 5px; /* width of vertical scrollbar */
  border: 1px solid #bdbdbd;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cec8c8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #90b9d6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #69c0ff;
}
* {
  scrollbar-width: thin;
}
